body {
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    line-height: 100%;
    color: #333;
    background: #bdbdbd;
  }

.button {
    background-color:  #dd713f; 
    color: black;
    cursor: pointer;
}

.button:hover {
    background-color: blue;
    color: white;
}

.img {
    height: 100%;
    width: 100%;

}

.weather-box {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
    padding: 5px;
    border: 2px;
}

table, td {
    border: 2px solid black;
}

th {
    background-color: white;
}

tr {
    background-color: white;
}

.hemisphere.img {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    background-color: white;
    padding: 5px;
}